<script src="{{ '/assets/js/jquery.min.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/jquery.dropotron.min.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/breakpoints.min.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/util.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
{% if page.custom_script %}
<script src="{{ page.custom_script | relative_url }}" defer></script>
{% endif %}
